 'bs4': '0.0.2',
 'cv2': '4.11.0',
 'imblearn': '0.0',
 'ipaddress': '1.0.23',
 'itertools': 'Python Standard Library',
 'lightgbm': '4.5.0',
 'matplotlib': '3.8.4',
 'missingno': '0.5.2',
 'numpy': '2.3.4',
 'pandas': '2.2.3',
 'plotly': '6.3.0',
 'scipy': '1.15.1',
 'seaborn': '0.13.2',
 'shap': '0.49.1',
 'sklearn': '1.7.2',
 'time': 'Python Standard Library',
 'warnings': 'Python Standard Library',
 'xgboost': '3.0.0',
 'ydata_profiling': '4.16.1'